<div id="contents">
  <h1>FrakkedUp</h1>
  <p>bienvenue</p>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
  <%= form_for(:session, url: sessions_path) do |f| %>

    <%= f.label :login %>
    <%= f.text_field :login %>
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit 'Log in!'%>
    <p>Si vous avez oubli&eacute votre mot de passe, d&eacutemerdez vous avec l'admin.</p>
  <% end %>
  <%= link_to 'creer un compte', 'users/new'%>
<div>
