<%
back_place = case session[:last_page]
  when Regexp.new(administration_path) then "Retour a l'administration"
  when Regexp.new(contents_path)       then "Retour aux jeux"
  else                                      "Retour"
end

detruire_compte = if @user == current_user
  "Detruire mon compte"
else
  "Detruire son compte"
end
%>

<p id="notice"><%= notice %></p>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <strong>Login:</strong>
  <%= @user.login %><br>
</p>

<% if admin? %>
  <%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :privilege %><br>
      <%= f.label :privilege_normal, 'normal' %>
      <%= f.radio_button 'privilege', 'normal' %>
      <%= f.label :privilege_admin, 'admin' %>
      <%= f.radio_button 'privilege', 'admin' %>
      <%= f.submit 'changer privilege' %>
    </div>
  <% end %>
<% end %>
<%= form_for(@user) do |f| %>
  <div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit 'changer mot de passe' %>
  </div>
<% end %>
<%= link_to detruire_compte, user_path(@user), method: 'delete', confirm: 'Vous etes sur?' %>
<%= link_to back_place, session[:last_page] %>

