<p id="notice"><%= notice %></p>

<p>
  <strong>Game Name:</strong>
  <%= @game.name %><br>
  <% if @game.started? %>
  <strong>Started!</strong>
  <% else %>
    <%= link_to 'Start', start_game_path(@game), :method => :post %>
  <% end %>
</p>
<h1>Players</h1>
<% @game.users.each do |user| %>
  <%= user.login %><%= link_to 'Show',user %><br>
<% end %>
<h1>Decks</h1>
<ul>
  <% @game.decks.each do |deck| %>
    <li><%= link_to deck.name, deck %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
